/* General Style
-------------------------------------------------------- 
 blue color: #6afbeb
 */

*, *:before, *:after {
  box-sizing: border-box;
}


html {
	margin:0;
	padding:0;
	height: 100%;
	background: url("../img/thyla-bg.jpg") center center no-repeat;
  	-webkit-background-size:  cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
} 

body {
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	color: white;
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
} 



ul {
	padding: 0;
}
￼


/* html5 elements
-------------------------------------------------------- 

*/
header,footer,nav,article,section,aside,figure,figcaption{display:block;}


/* Logo style
-------------------------------------------------------- 
  
*/

.logo  {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.logo img {
	margin-right: auto;
	margin-left: auto;
	opacity: 0;
	width: 670px;
    max-width: 100%;
    animation: fadein 2s ease-in;
    animation-fill-mode: forwards;


}


/*  Footer style
-------------------------------------------------------- 
  
*/


.footer {
	z-index: 2;
	position:fixed;
  	bottom:0;
    width:100%;
    height:40px;

}

.footer p {
	text-align: right;
	padding-right: 20px;
	font-size: 12px; 

}




/* Style for social buttons 
-------------------------------------------------------- 

*/



.buttons {
	max-width: 100%;
	text-align: center;

}

.soc li {
    display:inline-block;
    width: 16%;
}
	
.soc li a {
    overflow:hidden;
    display:block;
    z-index: 1;
    max-width: 40px;
    width: 100%;
    margin: 0 auto;
 	
}


.soc li a img {
    width: 100%;
   	opacity: 0;
   	animation: fadein 2s ease-in;
   	animation-fill-mode: forwards;
   	animation-delay: 1s;

}


.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}




/* style for soundcloud and bandsintown widget
-------------------------------------------------------- 

*/

.soundcloud {
	position: absolute;
	bottom: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	opacity: 0;
   	animation: fadein 2s ease-in;
   	animation-fill-mode: forwards;
   	animation-delay: 1s;
}



@media all and (min-width: 600px) {
	.soundcloud {
		max-height: 200px;
	}
}


/* animations */

@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 0.8; }
}
@-moz-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 0.8; }
}
@-o-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 0.8; }
}
@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 0.8; }
}



